{
  "openapi": "3.1.0",
  "info": {
    "title": "PayGrid Merchant Integration API",
    "description": "PayGrid Developer API for server-to-server integration. Dashboard-only operations (API key management, detailed ledger, settlements) are excluded. All responses use the standard envelope {status, code, message, data, meta?}; errors add error_code and optional details. Rate limit: 60 requests/minute per API key.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://meet.briq.tz",
      "description": "Production Environment"
    },
    {
      "url": "http://localhost:8081",
      "description": "Local Development (Test against local server)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/merchants/me": {
      "get": {
        "summary": "Get Profile",
        "description": "Retrieves your active merchant profile details including balance and settings.",
        "responses": {
          "200": {
            "description": "Merchant profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MerchantProfile"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants/me/balance": {
      "get": {
        "summary": "Get Balance",
        "description": "Retrieves the current merchant balance.",
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Balance"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "get": {
        "summary": "List Payments",
        "description": "Retrieve a list of payments with pagination. The response data is an array of Payment objects with a meta block: {current_page, per_page, total, total_pages}.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Items per page. Defaults to 10, capped at 100."
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Payment"
                          }
                        },
                        "meta": {
                          "$ref": "#/components/schemas/PaginationMeta"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (UNAUTHORIZED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — 60 requests/minute per API key (RATE_LIMIT_EXCEEDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Payment",
        "description": "Initiate a payment. Supports Mobile Money (USSD push), Card (hosted checkout via payment_url), and Dynamic QR. Mobile TZS payments require a Tanzanian mobile number and a minimum amount of 500 TZS.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "description": "Required. A unique value (max 255 characters) per payment attempt, scoped to your merchant account. Requests without it are rejected with 400 IDEMPOTENCY_KEY_REQUIRED. Reuse the same value when retrying — the retry returns 200 with the original payment instead of creating a duplicate. Safe under concurrent retries: the losing request replays the winner's payment."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              },
              "examples": {
                "mobile": {
                  "summary": "Mobile Money",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "mobile",
                    "phone": "255712345678",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_12345",
                    "metadata": {
                      "item_id": "PROD_001"
                    }
                  }
                },
                "mobileWithNetwork": {
                  "summary": "Mobile Money (explicit network)",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "mobile",
                    "phone": "255712345678",
                    "network": "vodacom",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_12345"
                  }
                },
                "card": {
                  "summary": "Card Payment (hosted checkout)",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "card",
                    "phone": "255712345678",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com",
                      "address": "123 Samora Ave",
                      "city": "Dar es Salaam",
                      "state": "Dar es Salaam",
                      "postcode": "11101",
                      "country": "TZ"
                    },
                    "reference": "ORDER_123456",
                    "redirect_url": "https://shop.example.com/payment/success",
                    "cancel_url": "https://shop.example.com/payment/cancel",
                    "metadata": {
                      "item_id": "PROD_002"
                    }
                  }
                },
                "qr": {
                  "summary": "Dynamic QR",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "dynamic-qr",
                    "phone": "255712345678",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_123457",
                    "metadata": {
                      "item_id": "PROD_003"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaymentResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Idempotent replay — a payment already exists for this Idempotency-Key. The existing payment is returned and no new charge is created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payment"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (VALIDATION_ERROR — invalid phone, unsupported currency, amount below 500 TZS minimum for TZS mobile, invalid network) or missing Idempotency-Key header (IDEMPOTENCY_KEY_REQUIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (UNAUTHORIZED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "402": {
            "description": "Payment declined synchronously by the provider (PAYMENT_DECLINED). The customer was not charged. details contains transaction_id, status \"failed\", and reference. Insufficient customer funds also return 402 (INSUFFICIENT_FUNDS).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Test-mode key blocked (TEST_MODE_UNAVAILABLE — sk_test_* keys cannot move real money and no sandbox gateway is configured) or risk policy block (RISK_CHECK_FAILED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate merchant reference (DUPLICATE_REFERENCE) — a live (pending/processing/completed) payment with this reference already exists. details contains existing_transaction_id, existing_status, and reference. References can be reused after the prior payment fails, is cancelled, or expires.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — 60 requests/minute per API key (RATE_LIMIT_EXCEEDED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Provider outage or timeout (PROVIDER_UNAVAILABLE — safe to retry with backoff, or PROVIDER_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}": {
      "get": {
        "summary": "Get Payment Status",
        "description": "Retrieves the status and details of a specific payment from PayGrid's database (no provider round-trip — safe to poll).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payment"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payment ID format (INVALID_ID)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found (RESOURCE_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}/refresh": {
      "post": {
        "summary": "Refresh Payment Status",
        "description": "Forces PayGrid to query the payment provider for the latest status and update the local record. Triggers webhooks/callbacks if the status changed. Costs a provider round-trip — use sparingly; for routine polling prefer GET /api/v1/payments/{id}.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Payment"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payment ID format (INVALID_ID)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found (RESOURCE_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "Payment provider temporarily unavailable (PROVIDER_ERROR)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}/events": {
      "get": {
        "summary": "Get Payment Events",
        "description": "Returns the audit trail of status events for a payment, oldest first.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment events",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PaymentEvent"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid payment ID format (INVALID_ID)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "Payment not found (RESOURCE_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts": {
      "post": {
        "summary": "Create Payout",
        "description": "Transfer funds from your PayGrid balance to a recipient. Test API keys (sk_test_*) are always blocked from creating payouts (403 TEST_MODE_UNAVAILABLE).",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "description": "Strongly recommended. When present, retrying with the same key returns the existing payout instead of creating a duplicate."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayoutRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Standard Payout",
                  "value": {
                    "amount": 20000.0,
                    "currency": "TZS",
                    "channel": "mobile",
                    "phone": "255712345678",
                    "network": "vodacom",
                    "reference": "PAYOUT_001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payout created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PayoutResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Idempotent replay — a payout already exists for this Idempotency-Key. The existing payout is returned and no new transfer is created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PayoutResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List payouts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 100
            },
            "description": "Items per page. Defaults to 10, capped at 100."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ping": {
      "get": {
        "summary": "Ping",
        "description": "Validate API key and return merchant context.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts/{id}": {
      "get": {
        "summary": "Get payout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessEnvelope"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the merchant dashboard. When using the 'Try It' feature, enter only the key\u2014the 'Bearer ' prefix is added automatically. For direct API calls, the 'Authorization: Bearer <key>' format is mandatory."
      }
    },
    "schemas": {
      "SuccessEnvelope": {
        "type": "object",
        "description": "Standard success envelope wrapping all API responses.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code echoed in the body"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "description": "Response payload (object or array depending on endpoint)"
          },
          "meta": {
            "type": "object",
            "description": "Pagination metadata on list endpoints"
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "description": "Standard error envelope. error_code is a stable machine-readable code (e.g. VALIDATION_ERROR, IDEMPOTENCY_KEY_REQUIRED, DUPLICATE_REFERENCE, PAYMENT_DECLINED).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "integer",
            "description": "HTTP status code echoed in the body"
          },
          "error_code": {
            "type": "string",
            "description": "Stable machine-readable error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation"
          },
          "details": {
            "description": "Optional structured details (e.g. field-level validation errors, existing_transaction_id on DUPLICATE_REFERENCE, transaction_id on PAYMENT_DECLINED)"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "MerchantProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "available": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": [
          "firstname",
          "lastname",
          "email"
        ],
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "address": {
            "type": "string",
            "description": "Required for card payments"
          },
          "city": {
            "type": "string",
            "description": "Required for card payments"
          },
          "state": {
            "type": "string",
            "description": "Required for card payments"
          },
          "postcode": {
            "type": "string",
            "description": "Required for card payments"
          },
          "country": {
            "type": "string",
            "description": "Required for card payments"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "type",
          "customer"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount the customer is charged. Minimum 500 TZS for TZS mobile payments."
          },
          "currency": {
            "type": "string",
            "enum": [
              "TZS",
              "USD",
              "KES",
              "UGX"
            ],
            "default": "TZS"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "card",
              "dynamic-qr"
            ],
            "description": "mobile sends a USSD push to the customer's phone. card and dynamic-qr return a hosted checkout payment_url (and qr_code for dynamic-qr)."
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number. Required for all payment types. For TZS, accepted formats: 0712345678, 712345678, 255712345678, +255712345678 — normalized to 255XXXXXXXXX and must be a valid Tanzanian mobile number (2556/2557 prefix). Invalid numbers return 400 VALIDATION_ERROR."
          },
          "network": {
            "type": "string",
            "enum": [
              "vodacom",
              "tigo",
              "airtel",
              "halotel",
              "ttcl"
            ],
            "description": "Optional — the mobile network operator is auto-detected from the phone number. When provided, must be one of the supported operators (lowercase). Aliases accepted: mpesa (vodacom), mixx (tigo). Invalid values return 400 VALIDATION_ERROR."
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "reference": {
            "type": "string",
            "description": "Your internal reference. A reference with an existing live (pending/processing/completed) payment is rejected with 409 DUPLICATE_REFERENCE; reuse is allowed after the prior payment fails, is cancelled, or expires."
          },
          "webhook_url": {
            "type": "string",
            "description": "Per-payment webhook URL. Overrides merchant webhook_url when set."
          },
          "callback_url": {
            "type": "string",
            "description": "Per-payment callback URL for terminal status. Overrides merchant callback_url when set."
          },
          "redirect_url": {
            "type": "string",
            "description": "Required for card payments — where the customer is sent after successful checkout."
          },
          "cancel_url": {
            "type": "string",
            "description": "Required for card payments — where the customer is sent if they cancel checkout."
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "Payment record returned by GET /payments/{id}, GET /payments, POST /payments/{id}/refresh, and idempotent replays. reference is YOUR merchant reference; provider identifiers are in external_id.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string",
            "description": "Your merchant reference from payment creation"
          },
          "external_id": {
            "type": "string",
            "description": "Provider-side reference used for status lookups"
          },
          "amount": {
            "type": "number",
            "description": "Amount the customer is charged"
          },
          "margin_amount": {
            "type": "number",
            "description": "PayGrid fee — deducted from settlement, not added to the customer charge"
          },
          "total_amount": {
            "type": "number",
            "description": "Equals amount"
          },
          "currency": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "card",
              "dynamic-qr"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "cancelled",
              "expired",
              "refunded",
              "partially_refunded"
            ],
            "description": "Normalized payment status. Mobile payments go from pending directly to a terminal status (completed/failed/cancelled/expired); processing is rare. Status changes are delivered to webhook_url as payment.{status} events. Unfinished payments expire roughly 30 minutes after creation."
          },
          "phone": {
            "type": "string",
            "description": "Normalized customer phone (255XXXXXXXXX for TZS)"
          },
          "network": {
            "type": "string",
            "description": "Mobile network operator, when provided at creation"
          },
          "payment_url": {
            "type": "string",
            "description": "Hosted checkout URL for card and dynamic-qr payments; empty for mobile"
          },
          "qr_code": {
            "type": "string",
            "description": "QR payload for dynamic-qr payments"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Set when the payment reaches a terminal status"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "description": "Payment creation response (201). reference is YOUR merchant reference; provider identifiers are exposed as provider_reference and external_id.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "reference": {
            "type": "string",
            "description": "Your merchant reference from the request"
          },
          "provider_reference": {
            "type": "string",
            "description": "Provider reference returned at creation"
          },
          "external_id": {
            "type": "string",
            "description": "Provider-side reference used for status lookups"
          },
          "amount": {
            "type": "number"
          },
          "margin_amount": {
            "type": "number"
          },
          "total_amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "card",
              "dynamic-qr"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed",
              "cancelled",
              "expired"
            ],
            "description": "Initial status is pending. Subscribe via webhook_url for lifecycle updates. Synchronous declines are returned as a 402 PAYMENT_DECLINED error instead of a success response."
          },
          "phone": {
            "type": "string"
          },
          "network": {
            "type": "string"
          },
          "payment_url": {
            "type": "string",
            "description": "Hosted checkout URL — present for card and dynamic-qr"
          },
          "qr_code": {
            "type": "string"
          },
          "payment_token": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "transaction_id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "actor_type": {
            "type": "string",
            "description": "Who triggered the event: system, psp, poller, merchant"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreatePayoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "channel",
          "phone"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "enum": [
              "TZS"
            ],
            "default": "TZS"
          },
          "channel": {
            "type": "string",
            "enum": [
              "mobile",
              "bank"
            ]
          },
          "phone": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": [
              "vodacom",
              "tigo",
              "airtel",
              "halotel",
              "ttcl"
            ]
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "PayoutResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "UpdateMerchantRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "callback_url": {
            "type": "string"
          },
          "webhook_url": {
            "type": "string"
          }
        }
      }
    }
  }
}
