{
  "openapi": "3.1.0",
  "info": {
    "title": "MeetPay Merchant Integration API",
    "description": "Official API for merchants integrating MeetPay into their systems.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://meet.briq.tz",
      "description": "Production Environment"
    },
    {
      "url": "http://localhost:8081",
      "description": "Local Development (Test against local server)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/merchants/me": {
      "get": {
        "summary": "Get Profile",
        "description": "Retrieves your active merchant profile details including balance and settings.",
        "responses": {
          "200": {
            "description": "Merchant profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants/me/balance": {
      "get": {
        "summary": "Get Balance",
        "description": "Retrieves the current merchant balance.",
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments": {
      "get": {
        "summary": "List Payments",
        "description": "Retrieve a list of payments with pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Payment",
        "description": "Initiate a payment. Supports Mobile Money, Card, and Dynamic QR.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "description": "A unique UUID to prevent duplicate transactions. Retrying a request with the same key will return the previous result."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              },
              "examples": {
                "mobile": {
                  "summary": "Mobile Money",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "mobile",
                    "phone": "255700000000",
                    "network": "AIRTEL",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_12345",
                    "metadata": {
                      "item_id": "PROD_001"
                    }
                  }
                },
                "card": {
                  "summary": "Card Payment",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "card",
                    "phone": "255700000000",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_123456",
                    "metadata": {
                      "item_id": "PROD_002"
                    }
                  }
                },
                "qr": {
                  "summary": "Dynamic QR",
                  "value": {
                    "amount": 5000.0,
                    "currency": "TZS",
                    "type": "dynamic-qr",
                    "phone": "255700000000",
                    "customer": {
                      "firstname": "John",
                      "lastname": "Doe",
                      "email": "john.doe@example.com"
                    },
                    "reference": "ORDER_123457",
                    "metadata": {
                      "item_id": "PROD_003"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/{id}": {
      "get": {
        "summary": "Get Payment Status",
        "description": "Retrieves the status and details of a specific payment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts": {
      "post": {
        "summary": "Create Payout",
        "description": "Transfer funds from your MeetPay balance to a recipient.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "123e4567-e89b-12d3-a456-426614174000"
            },
            "description": "A unique UUID to prevent duplicate transactions. Retrying a request with the same key will return the previous result."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePayoutRequest"
              },
              "examples": {
                "standard": {
                  "summary": "Standard Payout",
                  "value": {
                    "amount": 20000.0,
                    "currency": "TZS",
                    "channel": "mobile",
                    "phone": "255700000000",
                    "network": "VODACOM",
                    "reference": "PAYOUT_001"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key obtained from the merchant dashboard. When using the 'Try It' feature, enter only the key—the 'Bearer ' prefix is added automatically. For direct API calls, the 'Authorization: Bearer <key>' format is mandatory."
      }
    },
    "schemas": {
      "MerchantProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "available": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "type",
          "customer"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "enum": [
              "TZS"
            ],
            "default": "TZS"
          },
          "type": {
            "type": "string",
            "enum": [
              "mobile",
              "card",
              "dynamic-qr"
            ]
          },
          "phone": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": [
              "VODACOM",
              "AIRTEL",
              "TIGO",
              "HALOTEL",
              "TTCL"
            ]
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "reference": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "payment_url": {
            "type": "string"
          },
          "qr_code": {
            "type": "string"
          }
        }
      },
      "CreatePayoutRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "channel",
          "phone"
        ],
        "properties": {
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string",
            "enum": [
              "TZS"
            ],
            "default": "TZS"
          },
          "channel": {
            "type": "string",
            "enum": [
              "mobile",
              "bank"
            ]
          },
          "phone": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": [
              "VODACOM",
              "AIRTEL",
              "TIGO",
              "HALOTEL",
              "TTCL"
            ]
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "PayoutResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}